.carousel {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

.productTrack {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 400px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  position: relative;
  --slider-index: 0;
}

.productTrack2 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 400px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  position: relative;
  --slider2-index: 0;
}

.productCard-slide {
  padding-right: 25px;
  width: 224px;
  display: flex;
  justify-content: center;
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform .5s;
}

.outfitCard-slide {
  padding-right: 25px;
  width: 224px;
  display: flex;
  justify-content: center;
  transform: translateX(calc(var(--slider2-index) * -100%));
  transition: transform .5s;
  position: relative;
}

.addToOutfitBtn {
  margin: 0, 4px, 0, 4px;
  width: 220px;
  display: flex;
  position: absolute;
  z-index: 3;
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,.4);
  cursor: pointer;
  z-index: 9;
  height: 50%;
  width: 30px;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 25px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
}

.carouselButton:hover {
  background: rgba(0,0,0,.6);
}

.productLeft {
  left: 0;
}

.productRight {
  right: 0;
}

