body {

}

.widgetContainer {
  width: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(215, 215, 215);
  height: 800px;
}



.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: black;
  padding: 50px;
  z-index: 10;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 10;
}

.modal-title {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-content {
  color: black;
}

table {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

table td {
  border: 1px solid black;
}

tbody {
  width: 100%;
  vertical-align: baseline;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

tr {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

th.currentP {
  width: 35%;
}

th.feature {
  width: 35%;
}

th.compareP {
  width: 35%;
}