body {

}

.widgetContainer {
  width: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(215, 215, 215);
  height: 800px;
}

.closeModalBtn {
  background-color: rgba(0, 0, 0, .4);
  border: none;
  border-radius: 5px;
  width: 30%;
  margin: 10px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 10px;
  height: fit-content;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 10;
}

.modal-title {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

table {
  width: 100%;
  border: 1px solid black;
  table-layout: fixed;
  margin-top: 20px;
}

table td {
  border: 1px solid black;
  text-align: center;
}

tbody {
  vertical-align: baseline;
  align-items: center;
  width: 100%;

}

tr {
  width: 100%;

}

th.currentP {

}

th.feature {

}

th.compareP {

}