

.body {
  /* font-family: Arial, Helvetica, sans-serif; */
  /* width: 700px; */
  /* margin: auto; */

}

/* .head {
  font-size: 11pt;
  color: rgb(114, 114, 116);
  font-weight: 300;
} */

.navQ {
 color: rgb(114, 114, 116);
 float: right;
 font-size: 9pt;
 font-weight: 300;
}

.navA {
  color: rgb(114, 114, 116);
  font-size: 9pt;
  padding-left: 26px;
  padding-top: 10px;
  font-weight: 300;
}

.search {
  width: 888px;
  height: 58px;
  border: none;
  padding-left: 14px;
  /* background-color: rgb(246, 247, 251); */
  background-color: white;
}

.form {
  /* background-color: rgb(246, 247, 251); */
  background-color: white;
  height: 60px;
  border: 1px solid black;

}

.label {
  display: flex;
  justify-content: flex-start;
  margin-left: 62px;

}
/* .fa fa-search {
  height: 30px;
  width: 30px
} */
.searchBttn {
  border: none;
  /* background-color: rgb(246, 247, 251); */
  background-color: white;
  /* height: 50px;
  width: 50px; */
  color: rgb(84, 84, 84);
  /* background-image: url(https://www.pngarea.com/pngm/109/1164446_searchicon-png-search-icon-png-download.png); */
  /* background-image: url(https://icons8.com/icon/59878/search); */
  /* background-image: url(https://icons8.com/icon/132/search); */
  /* background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer; */
}


.questionList {
  font-weight: 600;
  /* height: 40px;
  display: inline-block;
  font-weight: bold;
  max-width: 650px; */
}

/* .qbody {
  display: inline-block;
  font-weight: bold;
  max-width: 650px;
} */

.qSection {
  padding-top: 5px;
  padding-bottom: 15px;
}

.answerList {
  font-weight: 600;
}

.answerText {
  font-size: 10pt;
  font-weight: 300;
}

.Btn {
  font-family: 'Inter', sans-serif;
  color: rgb(114, 114, 116);
  font-weight: 300;
  font-size: 9pt;
  text-decoration: underline;
  border: none;
  background-color: transparent;
}

.mainBtn {
  font-family: 'Inter', sans-serif;
  height: 60px;
  padding-left: 17px;
  padding-right: 17px;
  background-color: white;
  border: 1px solid black;
  color: rgb(81, 82, 83);
  font-weight: 600;
  font-size: 11pt;
}

.mainBtn:hover {
  background-color: rgb(243, 239, 243);
}

.Btn:hover {
  color: black
}

.moreAnswersBtn {
  border: none;
  font-family: 'Inter', sans-serif;
  padding-left: 26px;
  background-color: rgb(250, 250, 251);
  font-weight: 600;
  font-size: 8pt;
  padding-top: 8px;
  color: rgb(81, 82, 83);
}

.moreAnswersBtn:hover {
  color:rgb(179, 179, 183)

}

.formBar {
  width: 400px;
  height: 30px
}

.qformBar {
  width: 400px;
  height: 60px
}

.invalidInput {
  color: red;
  text-align: center;
  font-size: 10pt;
  /* margin: auto; */
}

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 540px;
  height: 500px;
  background: white;
  color: white;
  z-index: 10;
  /* border-radius: 5px; */
  border: 1px solid black;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  padding-top:20px;
  height: 100px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.subheading {
  margin: 0;
  padding: 1px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  /* padding: 4px 8px; */
  /* border-radius: 8px; */
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  /* transition: all 0.25s ease; */
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: 2px;
  margin-right: 2px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.submitBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 6px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #ff3e4e;
  transition: all 0.25s ease;
}

.submitBtn:hover {
  background-color: #f76d78;
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #ff3e4e;
}

.cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 6px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: rgb(230, 228, 228);
}

::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 11pt;
  color: rgb(81, 82, 83)
}