.reviews {
  display: flex;
}
.breakdown {
  display:flex;
  flex-direction: column;
  width: 50%
}
.review-list {
  margin-left: 2em;
  width: 100%;
  height: 1000px;
  overflow: auto;
}
.review-tile-stars {
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline;
}
.review-body {
  margin-top: 1em;
}
.review-average {
  float: left;
  display: inline;
}
.review-star-average {
  float: left;
  display: inline;
  margin-left: 1em;
}
.percent-recommend {
  margin-top: 1em;
}
.review-graph-background {
  background: white;
  float: left;
  display: flex;
  flex-direction: column;
}
.review-bar-label {
  margin-right: 2%;
  margin-left: 4%;
  white-space: nowrap;
  margin-top: 4%;
  margin-bottom: 4%;
}
.outer {
  background: lightgrey;
  min-height: 15px;
  margin-top: 4%;
  margin-right: 2%;
  width: 70%;
  display: flex;
  margin-bottom: 4%
}
.inner {
  background: mediumseagreen;
  min-height: 100%;
  float:left;
  position: relative;
}
.rating-breakdown {
  display: flex;
  flex-direction: row;
  font-size: small;
  text-align: center;
}
.rating-breakdown:hover {
  background: wheat;
}
.review-total {
  margin-right: 4%;
  margin-left: 2%;
  white-space: nowrap;
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: smaller;
}
.product-breakdown-background {
  background: white;
  background: white;
  float: left;
  display: flex;
  flex-direction: column;
}
.detail-breakdown {
  display: flex;
  flex-direction: column;
  align-items:baseline;
  margin-top: 5px;
}
.detail-bar {
  background: lightgrey;
  background-position: center;
  min-height: 5px;
  margin-right: 1em;
  margin-left: 1em;
  width: 85%;
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  position: relative;
}
.tier-separator {
  background-color: white;
  width: 5px;
  left: 33%;
  height: 100%;
  position: absolute;
}
.detail-position {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(0px, -12px);
  color: darkslategrey
}
.poor {
  min-width: 15px;
  left: 0;
  font-size: x-small;
  bottom: -1.2em;
  position: relative;
}
.middle {
  min-width: 15px;
  font-size: x-small;
  bottom: -1.2em;
  position: absolute;
  left: 44%;
}
.great {
  min-width: 15px;
  font-size: x-small;
  bottom: -1.2em;
  position: absolute;
  right: 0;
}
.write-review-btn {
  margin-left: 35%;
}
.review-modal, .modal-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modal-overlay {
  /* background: rgba(49, 49, 49, 0.8) */
}
.review-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 640px;
  height: 500px;
  background: white;
  z-index: 10;
  border: 1px solid black;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  overflow: auto;
}
.review-form > * {
  margin: 15px
}
.review-text-block > * {
  margin-top: 10px;
}
.review-form-summary {
  width: 80%;
  height: 1.5em;
}
.review-form-body {
  width: 80%;
  height: 300px;
}
.review-body-warning {
  color: red
}
.review-form-details {
  margin-top: 1em;
}
.detail-container-modal {
  margin-top: 5px;
  display: flex;
  margin-bottom: 5px;
  /* flex-direction: column; */
}
.detail-name-modal {
  min-width: 70px;
  /* position: absolute; */
  /* display: inline-block; */
}
.detail-buttons-modal > * {
  margin-left: 60px;
}
.detail-scale-modal {
  min-height: 10px
}
.detail-one-modal {
  left: 126px;
  min-width: 50px;
  position: absolute;
  font-size: x-small;
  text-align: center;
}
.detail-three-modal {
  left: 278px;
  min-width: 50px;
  position: absolute;
  font-size: x-small;
  text-align: center;
}
.detail-five-modal {
  /* transform: translate(400px, 0); */
  left: 431px;
  min-width: 50px;
  position: absolute;
  font-size: x-small;
  text-align: center;
}

