.reviews {
  display: flex;
}
.breakdown {
  display:flex;
  flex-direction: column;
  width: 275px;
}

#sort-list {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: black;
  border-bottom-width: 2px;
  background-color: white
}
#sort-list option {
  background-color: white
}
.review-list {
  margin-left: 2em;
  width: 625px;
  max-height: 100vh;
  overflow-y: auto;
  overflow-wrap: break-word;
}
.review-tile {
  margin-top: 2em;
  border-bottom: solid;
}
.review-tile-stars > * {
  margin-top: 2em;
  margin-bottom: 1em;
  display: inline;
}
.review-tile-date {
  float:right;
  font-size: 9pt;
  font-weight: 300;
}
.review-summary {
  font-weight: 600;
  margin-top: 1em;
}
.review-body {
  margin-top: 1.2em;
  font-size: 10pt;
  font-weight: 300;
  margin-bottom: 10px;
}
.review-body-button {
  border: none;
  font-family: 'Inter', sans-serif;
  background-color: rgb(250, 250, 251);
  font-weight: 600;
  font-size: 8pt;
  color: rgb(81, 82, 83);
  margin-bottom: 8px;
}
.review-body-button:hover {
  color:rgb(179, 179, 183)
}
.review-recommendation {
  font-size: 10pt;
  font-weight: 300;
  margin-bottom: 15px;
}
.review-image {
  margin-right: 10px;
  max-height: 150px;
  margin-bottom: 10px;
}
.tile-modal-background {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.8);
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tile-modal {
  max-height: 60%;
  max-width: 60%;
}
.review-tile-footer {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 10pt;
  font-weight: 300;
}
.review-list-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-left: 2em;
  margin-bottom: 3em;
}
.review-average {
  float: left;
  display: inline;
  font-size: 32pt;
  font-weight: 500;
}
.review-star-average {
  float: left;
  display: inline;
  margin-left: 1em;
}
.percent-recommend {
  margin-top: 8px;
  font-size: 9pt;
  margin-left: auto;
  margin-right: auto;
}
.review-graph-background {
  background: white;
  float: left;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  border-radius: 5px;
}
.review-bar-label {
  margin-right: 2%;
  margin-left: 4%;
  white-space: nowrap;
  margin-top: 4%;
  margin-bottom: 4%;
}
.outer {
  background: lightgrey;
  min-height: 15px;
  margin-top: 4%;
  margin-right: 2%;
  width: 70%;
  display: flex;
  margin-bottom: 4%
}
.inner {
  background: mediumseagreen;
  min-height: 100%;
  float:left;
  position: relative;
}
.rating-breakdown {
  display: flex;
  flex-direction: row;
  font-size: small;
  text-align: center;
  transition: all 0.25s ease;
}
.rating-breakdown:hover {
  background: wheat;
}
.review-total {
  margin-right: 4%;
  margin-left: 2%;
  white-space: nowrap;
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: smaller;
}
.product-breakdown-background {
  background: white;
  float: left;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  border-radius: 5px;
}
.detail-breakdown {
  display: flex;
  flex-direction: column;
  align-items:baseline;
  margin-top: 5px;
}
.detail-bar {
  background: lightgrey;
  background-position: center;
  min-height: 5px;
  margin-right: 1em;
  margin-left: 1em;
  width: 85%;
  margin-bottom: 1em;
  display: flex;
  position: relative;
}
.tier-separator {
  background-color: white;
  width: 5px;
  left: 33%;
  height: 100%;
  position: absolute;
}
.detail-position {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(0px, -12px);
  color: darkslategrey
}
.poor {
  min-width: 15px;
  left: 0;
  font-size: x-small;
  bottom: -1.2em;
  position: relative;
}
.middle {
  min-width: 15px;
  font-size: x-small;
  bottom: -1.2em;
  position: absolute;
  left: 43%;
}
.great {
  min-width: 15px;
  font-size: x-small;
  bottom: -1.2em;
  position: absolute;
  right: 0;
}
.write-review-button {
  font-family: 'Inter', sans-serif;
  height: 60px;
  padding-left: 17px;
  padding-right: 17px;
  background-color: white;
  border: 1px solid black;
  color: rgb(81, 82, 83);
  font-weight: 600;
  font-size: 11pt;
  margin-left: 15px;
  transition: all 0.25s ease;
  box-shadow: 0 1px 4px 0 #ccc;
}
.write-review-button:hover {
  background-color: rgb(243, 239, 243);
}
.more-reviews {
  font-family: 'Inter', sans-serif;
  height: 60px;
  padding-left: 17px;
  padding-right: 17px;
  background-color: white;
  border: 1px solid black;
  color: rgb(81, 82, 83);
  font-weight: 600;
  font-size: 11pt;
  transition: all 0.25s ease;
  box-shadow: 0 1px 4px 0 #ccc;
}
.more-reviews:hover {
  background-color: rgb(243, 239, 243);
}
.review-modal, .modal-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modal-overlay {
  /* background: rgba(49, 49, 49, 0.8) */
}
.review-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 640px;
  height: 600px;
  background: white;
  z-index: 10;
  border: 1px solid black;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  overflow: auto;
}
.review-form > * {
  margin: 15px
}
.review-text-block > * {
  margin-top: 10px;
}
.review-form-summary {
  width: 80%;
  height: 1.5em;
}
.review-form-body {
  width: 80%;
  height: 300px;
}
.review-body-warning {
  color: red
}
.review-form-details {
  margin-top: 1em;
}
.detail-container-modal {
  margin-top: 5px;
  display: flex;
  margin-bottom: 5px;
  /* flex-direction: column; */
}
.detail-name-modal {
  min-width: 70px;
  /* position: absolute; */
  /* display: inline-block; */
}
.detail-buttons-modal > * {
  margin-left: 60px;
}
.detail-scale-modal {
  min-height: 10px
}
.detail-one-modal {
  left: 126px;
  min-width: 50px;
  position: absolute;
  font-size: x-small;
  text-align: center;
}
.detail-three-modal {
  left: 278px;
  min-width: 50px;
  position: absolute;
  font-size: x-small;
  text-align: center;
}
.detail-five-modal {
  /* transform: translate(400px, 0); */
  left: 431px;
  min-width: 50px;
  position: absolute;
  font-size: x-small;
  text-align: center;
}
.review-form-accept {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 6px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #ff3e4e;
  transition: all 0.25s ease;
}
.review-form-accept:hover {
  background-color: #f76d78;
}
.review-form-cancel {
  margin-top: 10px;
  margin-left: 15px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 6px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}
.review-form-cancel:hover {
  box-shadow: none;
  transform: none;
  background: rgb(230, 228, 228);
}

